<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558700619647-dg5n6v4f0o96qh1ag820949r79me6coo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558700619647-dg5n6v4f0o96qh1ag820949r79me6coo</string>
	<key>API_KEY</key>
	<string>AIzaSyCh_TMsB6v8IyB-fV6Hie06EWzHrm9dVH4</string>
	<key>GCM_SENDER_ID</key>
	<string>558700619647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apexcoaching.platform</string>
	<key>PROJECT_ID</key>
	<string>zach-mcivor-pt-app</string>
	<key>STORAGE_BUCKET</key>
	<string>zach-mcivor-pt-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558700619647:ios:a5474a922f4d8c26659c4a</string>
</dict>
</plist>
